// 主色
$color-primary: #1890ff;

// 辅助色
$color-info: #909399;
$color-success: #52c41a;
$color-warning: #faad14;
$color-danger: #f5222d;

// 文字
$color-text-main: rgba(0, 0, 0, 0.85);
$color-text-normal: rgba(0, 0, 0, 0.65);
$color-text-sub: rgba(0, 0, 0, 0.45);
$color-text-placehoder: rgba(0, 0, 0, 0.25);

// 边框
$color-border-1: #dcdfe6;
$color-border-2: #e4e7ed;
$color-border-3: #ebeef5;
$color-border-4: #f2f6fc;

// 背景
$color-bg: #f8f8f9;
